<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heekostudios.explorerquest">

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_rules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
                android:screenOrientation="portrait"
            android:label="Explorer Quest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".Gamescreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".Bag"
            android:screenOrientation="portrait"/>
        <activity android:name=".Settings"
            android:screenOrientation="portrait"/>
        <activity android:name=".Terrain"
            android:screenOrientation="portrait"/>
        <activity android:name=".Found"
            android:screenOrientation="portrait" />
        <activity android:name=".Death"
            android:screenOrientation="portrait"/>
        <activity android:name=".Levelup"
            android:screenOrientation="portrait"/>
        <activity android:name=".Selectperk"
            android:screenOrientation="portrait"/>
        <activity android:name=".Cityinterface"
            android:screenOrientation="portrait"/>
        <activity android:name=".Fight"
            android:screenOrientation="portrait"/>
        <activity android:name=".Cliff"
            android:screenOrientation="portrait"/>
    </application>

</manifest>