<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.heekostudios.adventuregame">

    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Explorer Quest">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gamescreen" />
        <activity android:name=".Bag" />
        <activity android:name=".Settings" />
        <activity android:name=".Terrain" />
        <activity android:name=".Found" />
        <activity android:name=".Death" />
        <activity android:name=".Levelup" />
        <activity android:name=".Selectperk" />
        <activity android:name=".Cityinterface" />
        <activity android:name=".Fight" />
        <activity android:name=".Cliff"></activity>
    </application>

</manifest>