<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.exploregame.game1">

    <application
        android:allowBackup="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="Adventure Game">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Gamescreen" />
        <activity android:name=".Bag" />
        <activity android:name=".Settings" />
        <activity android:name=".Terrain" />
        <activity android:name=".Found"></activity>
    </application>

</manifest>